body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1415px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2537_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1415px;
  height:73px;
  background:inherit;
  background-color:rgba(45, 163, 218, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2537 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1415px;
  height:73px;
}
#u2538 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:1411px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2539_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 Bold Oblique', '宋体 Regular', '宋体';
  font-weight:700;
  font-style:oblique;
  font-size:20px;
  text-decoration:underline;
  color:#FFFFFF;
}
#u2539 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:22px;
  width:211px;
  height:23px;
  font-family:'宋体 Bold Oblique', '宋体 Regular', '宋体';
  font-weight:700;
  font-style:oblique;
  font-size:20px;
  text-decoration:underline;
  color:#FFFFFF;
}
#u2540 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  white-space:nowrap;
}
#u2541_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u2541 {
  border-width:0px;
  position:absolute;
  left:1299px;
  top:22px;
  width:25px;
  height:25px;
}
#u2542 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2543_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2543 {
  border-width:0px;
  position:absolute;
  left:1334px;
  top:27px;
  width:43px;
  height:16px;
  color:#FFFFFF;
}
#u2544 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u2545_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:10px;
}
#u2545 {
  border-width:0px;
  position:absolute;
  left:1387px;
  top:31px;
  width:15px;
  height:10px;
}
#u2546 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-3px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2547_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:26px;
}
#u2547 {
  border-width:0px;
  position:absolute;
  left:1285px;
  top:22px;
  width:1px;
  height:25px;
}
#u2548 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2549_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1415px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2549 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:847px;
  width:1415px;
  height:43px;
}
#u2550 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:1411px;
  word-wrap:break-word;
}
#u2551 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2552_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:73px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u2552 {
  border-width:0px;
  position:absolute;
  left:365px;
  top:0px;
  width:77px;
  height:73px;
  opacity:0;
  font-size:15px;
}
#u2552_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:73px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u2552.selected {
  opacity:0.5;
}
#u2553 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:73px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2554_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 Bold', '宋体 Regular', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u2554 {
  border-width:0px;
  position:absolute;
  left:365px;
  top:43px;
  width:77px;
  height:17px;
  font-family:'宋体 Bold', '宋体 Regular', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u2555 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  word-wrap:break-word;
}
#u2556 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2557_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:73px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u2557 {
  border-width:0px;
  position:absolute;
  left:441px;
  top:0px;
  width:77px;
  height:73px;
  opacity:0;
  font-size:15px;
}
#u2557_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:73px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u2557.selected {
  opacity:0.5;
}
#u2558 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:73px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2559_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 Bold', '宋体 Regular', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u2559 {
  border-width:0px;
  position:absolute;
  left:441px;
  top:43px;
  width:77px;
  height:17px;
  font-family:'宋体 Bold', '宋体 Regular', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u2560 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  word-wrap:break-word;
}
#u2561 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2562_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:73px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u2562 {
  border-width:0px;
  position:absolute;
  left:517px;
  top:0px;
  width:77px;
  height:73px;
  opacity:0;
  font-size:15px;
}
#u2562_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:73px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u2562.selected {
  opacity:0.5;
}
#u2563 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:73px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2564_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 Bold', '宋体 Regular', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u2564 {
  border-width:0px;
  position:absolute;
  left:517px;
  top:43px;
  width:77px;
  height:17px;
  font-family:'宋体 Bold', '宋体 Regular', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u2565 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  word-wrap:break-word;
}
#u2566 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2567_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:73px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u2567 {
  border-width:0px;
  position:absolute;
  left:593px;
  top:0px;
  width:77px;
  height:73px;
  opacity:0;
  font-size:15px;
}
#u2567_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:73px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u2567.selected {
  opacity:0.5;
}
#u2568 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:73px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2569_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 Bold', '宋体 Regular', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u2569 {
  border-width:0px;
  position:absolute;
  left:593px;
  top:43px;
  width:77px;
  height:17px;
  font-family:'宋体 Bold', '宋体 Regular', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u2570 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  word-wrap:break-word;
}
#u2571 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2572_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:73px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u2572 {
  border-width:0px;
  position:absolute;
  left:669px;
  top:0px;
  width:77px;
  height:73px;
  opacity:0;
  font-size:15px;
}
#u2572_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:73px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u2572.selected {
  opacity:0.5;
}
#u2573 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:73px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2574_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 Bold', '宋体 Regular', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u2574 {
  border-width:0px;
  position:absolute;
  left:669px;
  top:43px;
  width:77px;
  height:17px;
  font-family:'宋体 Bold', '宋体 Regular', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u2575 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  word-wrap:break-word;
}
#u2576 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2577_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:73px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u2577 {
  border-width:0px;
  position:absolute;
  left:745px;
  top:0px;
  width:77px;
  height:73px;
  opacity:0;
  font-size:15px;
}
#u2577_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:73px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u2577.selected {
  opacity:0.5;
}
#u2578 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:73px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2579_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 Bold', '宋体 Regular', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u2579 {
  border-width:0px;
  position:absolute;
  left:745px;
  top:43px;
  width:77px;
  height:17px;
  font-family:'宋体 Bold', '宋体 Regular', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u2580 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  word-wrap:break-word;
}
#u2581 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2582_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:73px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u2582 {
  border-width:0px;
  position:absolute;
  left:821px;
  top:0px;
  width:77px;
  height:73px;
  opacity:0;
  font-size:15px;
}
#u2582_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:73px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u2582.selected {
  opacity:0.5;
}
#u2583 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:73px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2584_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 Bold', '宋体 Regular', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u2584 {
  border-width:0px;
  position:absolute;
  left:821px;
  top:43px;
  width:77px;
  height:17px;
  font-family:'宋体 Bold', '宋体 Regular', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u2585 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  word-wrap:break-word;
}
#u2586 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2587_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:73px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u2587 {
  border-width:0px;
  position:absolute;
  left:897px;
  top:0px;
  width:77px;
  height:73px;
  opacity:0;
  font-size:15px;
}
#u2587_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:73px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u2587.selected {
  opacity:0.5;
}
#u2588 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:73px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2589_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 Bold', '宋体 Regular', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u2589 {
  border-width:0px;
  position:absolute;
  left:897px;
  top:43px;
  width:77px;
  height:17px;
  font-family:'宋体 Bold', '宋体 Regular', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u2590 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  word-wrap:break-word;
}
#u2591 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2592_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:73px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u2592 {
  border-width:0px;
  position:absolute;
  left:973px;
  top:0px;
  width:77px;
  height:73px;
  opacity:0;
  font-size:15px;
}
#u2592_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:73px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u2592.selected {
  opacity:0.5;
}
#u2593 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:73px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2594_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 Bold', '宋体 Regular', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u2594 {
  border-width:0px;
  position:absolute;
  left:973px;
  top:43px;
  width:77px;
  height:17px;
  font-family:'宋体 Bold', '宋体 Regular', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u2595 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  word-wrap:break-word;
}
#u2596_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:30px;
}
#u2596 {
  border-width:0px;
  position:absolute;
  left:996px;
  top:8px;
  width:32px;
  height:30px;
}
#u2597 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2598_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:32px;
}
#u2598 {
  border-width:0px;
  position:absolute;
  left:466px;
  top:8px;
  width:28px;
  height:32px;
}
#u2599 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2600_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u2600 {
  border-width:0px;
  position:absolute;
  left:540px;
  top:8px;
  width:32px;
  height:32px;
}
#u2601 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2602_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:27px;
}
#u2602 {
  border-width:0px;
  position:absolute;
  left:612px;
  top:12px;
  width:32px;
  height:27px;
}
#u2603 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2604_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u2604 {
  border-width:0px;
  position:absolute;
  left:388px;
  top:9px;
  width:32px;
  height:32px;
}
#u2605 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2606_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:27px;
}
#u2606 {
  border-width:0px;
  position:absolute;
  left:844px;
  top:13px;
  width:32px;
  height:27px;
}
#u2607 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2608_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:32px;
}
#u2608 {
  border-width:0px;
  position:absolute;
  left:692px;
  top:9px;
  width:31px;
  height:32px;
}
#u2609 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2610_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:32px;
}
#u2610 {
  border-width:0px;
  position:absolute;
  left:769px;
  top:10px;
  width:30px;
  height:32px;
}
#u2611 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2612_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:41px;
}
#u2612 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:15px;
  width:59px;
  height:41px;
}
#u2613 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2614_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:30px;
}
#u2614 {
  border-width:0px;
  position:absolute;
  left:920px;
  top:11px;
  width:32px;
  height:30px;
}
#u2615 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2616 {
  border-width:0px;
  position:absolute;
  left:305px;
  top:99px;
  width:107px;
  height:22px;
}
#u2616_input {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:22px;
  background-color:#CCCCCC;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2616_input:disabled {
  color:grayText;
}
#u2617_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 Bold', '宋体 Regular', '宋体';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u2617 {
  border-width:0px;
  position:absolute;
  left:226px;
  top:100px;
  width:79px;
  height:21px;
  font-family:'宋体 Bold', '宋体 Regular', '宋体';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u2618 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  word-wrap:break-word;
}
#u2619_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 Bold', '宋体 Regular', '宋体';
  font-weight:700;
  font-style:normal;
}
#u2619 {
  border-width:0px;
  position:absolute;
  left:452px;
  top:100px;
  width:77px;
  height:21px;
  font-family:'宋体 Bold', '宋体 Regular', '宋体';
  font-weight:700;
  font-style:normal;
}
#u2620 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  white-space:nowrap;
}
#u2621 {
  border-width:0px;
  position:absolute;
  left:226px;
  top:186px;
  width:848px;
  height:155px;
}
#u2622_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:30px;
}
#u2622 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:30px;
}
#u2623 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:68px;
  word-wrap:break-word;
}
#u2624_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:30px;
}
#u2624 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:0px;
  width:161px;
  height:30px;
}
#u2625 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:157px;
  word-wrap:break-word;
}
#u2626_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:30px;
}
#u2626 {
  border-width:0px;
  position:absolute;
  left:233px;
  top:0px;
  width:161px;
  height:30px;
}
#u2627 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:157px;
  word-wrap:break-word;
}
#u2628_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:449px;
  height:30px;
}
#u2628 {
  border-width:0px;
  position:absolute;
  left:394px;
  top:0px;
  width:449px;
  height:30px;
}
#u2629 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:445px;
  word-wrap:break-word;
}
#u2630_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:30px;
}
#u2630 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:72px;
  height:30px;
}
#u2631 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:68px;
  word-wrap:break-word;
}
#u2632_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:30px;
}
#u2632 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:30px;
  width:161px;
  height:30px;
}
#u2633 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:157px;
  word-wrap:break-word;
}
#u2634_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:30px;
}
#u2634 {
  border-width:0px;
  position:absolute;
  left:233px;
  top:30px;
  width:161px;
  height:30px;
}
#u2635 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:157px;
  word-wrap:break-word;
}
#u2636_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:449px;
  height:30px;
}
#u2636 {
  border-width:0px;
  position:absolute;
  left:394px;
  top:30px;
  width:449px;
  height:30px;
}
#u2637 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:445px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2638_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:30px;
}
#u2638 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:72px;
  height:30px;
}
#u2639 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:68px;
  word-wrap:break-word;
}
#u2640_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:30px;
}
#u2640 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:60px;
  width:161px;
  height:30px;
}
#u2641 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:157px;
  word-wrap:break-word;
}
#u2642_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:30px;
}
#u2642 {
  border-width:0px;
  position:absolute;
  left:233px;
  top:60px;
  width:161px;
  height:30px;
}
#u2643 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:157px;
  word-wrap:break-word;
}
#u2644_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:449px;
  height:30px;
}
#u2644 {
  border-width:0px;
  position:absolute;
  left:394px;
  top:60px;
  width:449px;
  height:30px;
}
#u2645 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:445px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2646_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:30px;
}
#u2646 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:90px;
  width:72px;
  height:30px;
}
#u2647 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:68px;
  word-wrap:break-word;
}
#u2648_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:30px;
}
#u2648 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:90px;
  width:161px;
  height:30px;
}
#u2649 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:157px;
  word-wrap:break-word;
}
#u2650_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:30px;
}
#u2650 {
  border-width:0px;
  position:absolute;
  left:233px;
  top:90px;
  width:161px;
  height:30px;
}
#u2651 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:157px;
  word-wrap:break-word;
}
#u2652_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:449px;
  height:30px;
}
#u2652 {
  border-width:0px;
  position:absolute;
  left:394px;
  top:90px;
  width:449px;
  height:30px;
}
#u2653 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:445px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2654_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:30px;
}
#u2654 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:120px;
  width:72px;
  height:30px;
}
#u2655 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:68px;
  word-wrap:break-word;
}
#u2656_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:30px;
}
#u2656 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:120px;
  width:161px;
  height:30px;
}
#u2657 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:157px;
  word-wrap:break-word;
}
#u2658_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:30px;
}
#u2658 {
  border-width:0px;
  position:absolute;
  left:233px;
  top:120px;
  width:161px;
  height:30px;
}
#u2659 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:157px;
  word-wrap:break-word;
}
#u2660_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:449px;
  height:30px;
}
#u2660 {
  border-width:0px;
  position:absolute;
  left:394px;
  top:120px;
  width:449px;
  height:30px;
}
#u2661 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:445px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2662_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-decoration:underline;
  color:#0099FF;
}
#u2662 {
  border-width:0px;
  position:absolute;
  left:684px;
  top:218px;
  width:140px;
  height:27px;
  text-decoration:underline;
  color:#0099FF;
}
#u2663 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:136px;
  word-wrap:break-word;
}
#u2664_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-decoration:underline;
  color:#0099FF;
}
#u2664 {
  border-width:0px;
  position:absolute;
  left:834px;
  top:218px;
  width:140px;
  height:27px;
  text-decoration:underline;
  color:#0099FF;
}
#u2665 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:136px;
  word-wrap:break-word;
}
#u2666_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-decoration:underline;
  color:#0099FF;
}
#u2666 {
  border-width:0px;
  position:absolute;
  left:685px;
  top:247px;
  width:140px;
  height:27px;
  text-decoration:underline;
  color:#0099FF;
}
#u2667 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:136px;
  word-wrap:break-word;
}
#u2668_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-decoration:underline;
  color:#0099FF;
}
#u2668 {
  border-width:0px;
  position:absolute;
  left:838px;
  top:249px;
  width:140px;
  height:27px;
  text-decoration:underline;
  color:#0099FF;
}
#u2669 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:136px;
  word-wrap:break-word;
}
#u2670_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-decoration:underline;
  color:#0099FF;
}
#u2670 {
  border-width:0px;
  position:absolute;
  left:686px;
  top:278px;
  width:140px;
  height:27px;
  text-decoration:underline;
  color:#0099FF;
}
#u2671 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:136px;
  word-wrap:break-word;
}
#u2672_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-decoration:underline;
  color:#0099FF;
}
#u2672 {
  border-width:0px;
  position:absolute;
  left:836px;
  top:278px;
  width:140px;
  height:27px;
  text-decoration:underline;
  color:#0099FF;
}
#u2673 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:136px;
  word-wrap:break-word;
}
#u2674_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-decoration:underline;
  color:#0099FF;
}
#u2674 {
  border-width:0px;
  position:absolute;
  left:686px;
  top:308px;
  width:140px;
  height:27px;
  text-decoration:underline;
  color:#0099FF;
}
#u2675 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:136px;
  word-wrap:break-word;
}
#u2676_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-decoration:underline;
  color:#0099FF;
}
#u2676 {
  border-width:0px;
  position:absolute;
  left:836px;
  top:308px;
  width:140px;
  height:27px;
  text-decoration:underline;
  color:#0099FF;
}
#u2677 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:136px;
  word-wrap:break-word;
}
#u2678_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:41px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u2678 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:113px;
  width:170px;
  height:41px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u2678_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:41px;
  background:inherit;
  background-color:rgba(132, 219, 190, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u2678.mouseOver {
}
#u2679 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:166px;
  word-wrap:break-word;
}
#u2680_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:41px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u2680 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:236px;
  width:170px;
  height:41px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u2680_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:41px;
  background:inherit;
  background-color:rgba(132, 219, 190, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u2680.mouseOver {
}
#u2680_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:41px;
  background:inherit;
  background-color:rgba(132, 219, 190, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u2680.mouseDown {
}
#u2680_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:41px;
  background:inherit;
  background-color:rgba(132, 219, 190, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u2680.selected {
}
#u2681 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:166px;
  word-wrap:break-word;
}
#u2682_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:41px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(25, 158, 216, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u2682 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:72px;
  width:170px;
  height:41px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u2682_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:41px;
  background:inherit;
  background-color:rgba(132, 219, 190, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(25, 158, 216, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u2682.mouseOver {
}
#u2682_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:41px;
  background:inherit;
  background-color:rgba(132, 219, 190, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(25, 158, 216, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u2682.mouseDown {
}
#u2682_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:41px;
  background:inherit;
  background-color:rgba(132, 219, 190, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(25, 158, 216, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u2682.selected {
}
#u2683 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:166px;
  word-wrap:break-word;
}
#u2684_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u2684 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:154px;
  width:154px;
  height:41px;
  font-family:'宋体';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u2684_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:41px;
  background:inherit;
  background-color:rgba(132, 219, 190, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u2684.mouseOver {
}
#u2684_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:41px;
  background:inherit;
  background-color:rgba(132, 219, 190, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u2684.mouseDown {
}
#u2684_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:41px;
  background:inherit;
  background-color:rgba(132, 219, 190, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u2684.selected {
}
#u2685 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:150px;
  word-wrap:break-word;
}
#u2686_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u2686 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:195px;
  width:154px;
  height:41px;
  font-family:'宋体';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u2686_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:41px;
  background:inherit;
  background-color:rgba(132, 219, 190, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u2686.mouseOver {
}
#u2686_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:41px;
  background:inherit;
  background-color:rgba(132, 219, 190, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u2686.mouseDown {
}
#u2686_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:41px;
  background:inherit;
  background-color:rgba(132, 219, 190, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u2686.selected {
}
#u2687 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:150px;
  word-wrap:break-word;
}
#u2688_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:34px;
}
#u2688 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:195px;
  width:24px;
  height:34px;
}
#u2689 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2690_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2690 {
  border-width:0px;
  position:absolute;
  left:1275px;
  top:94px;
  width:140px;
  height:40px;
  color:#FFFFFF;
}
#u2691 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u2692_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2692 {
  border-width:0px;
  position:absolute;
  left:226px;
  top:131px;
  width:140px;
  height:40px;
}
#u2693 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u2694 {
  border-width:0px;
  position:absolute;
  left:537px;
  top:96px;
  width:101px;
  height:25px;
}
#u2694_input {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
